<a href="https://colab.research.google.com/github/mariyakhlyustova/Colab/blob/main/Sem09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1) Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data

In [ ]:
df = pd.read_csv('sample_data/california_housing_test.csv')

2) Посмотреть сколько в нем строк и столбцов

In [ ]:
df.shape



3) Определить какой тип данных имеют столбцы

In [ ]:
df.dtypes

1) Проверить есть ли в файле пустые значения

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

2) Показать median_house_value где median_income < 2

In [ ]:
df[df['median_income'] < 2]

In [ ]:
df[df['median_income'] < 2]['median_house_value']

3) Показать данные в первых 2 столбцах

In [ ]:
df[['longitude', 'latitude']]

In [ ]:
df.columns

In [ ]:
df.columns[:2]

In [ ]:
for i in df.columns[:2]:
  print(df[i])

4) Выбрать данные где housing_median_age < 20 и median_house_value > 7000

In [ ]:
df[df['housing_median_age'] < 20]

In [ ]:
df[df['median_house_value'] > 7000]

In [ ]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 7000)]

1) Определить какое максимальное и минимальное значение median_house_value

In [ ]:
df['median_house_value'].max()

In [ ]:
df['median_house_value'].min()

2) Показать максимальное median_house_value, где median_income = 3.1250

In [ ]:
df[df['median_income'] == 3.1250]['median_house_value'].max()



3) Узнать какая максимальная population в зоне минимального значения median_house_value

In [ ]:
df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()

In [ ]:
df #df.head() df.tail()

In [ ]:
df.iloc[152] # str 152

In [ ]:
df.describe()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.count()