<a href="https://colab.research.google.com/github/mariyakhlyustova/Colab/blob/main/Sem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1

### 1.1 Соедините два словаря в один

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
dict1 | dict2

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
dict1.update(dict2)

In [ ]:
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

### 1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
def update_dict(d1:dict, d2:dict) -> dict:
    return d1 | d2

In [ ]:
print(update_dict(dict1, dict2))

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## Задание 2

Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения


Используйте аннотирование типов

### 2.1 Используя цикл for

In [ ]:
keys = ['Ones', 'Two', 'Three']
values = [1, 2, 3]

словарь[ключ] = значение

In [ ]:
def make_dict(d1:list, d2:list) -> dict:
    new_dict = {}
    for i in range(len(d1)):
        new_dict[d1[i]] = d2[i]
    return new_dict

In [ ]:
make_dict(keys, values)

{'Ones': 1, 'Two': 2, 'Three': 3}

### 2.2 Используя dict comprehensions

In [ ]:
def make_dict2(d1:list, d2:list) -> dict:
    return {d1[i]: d2[i] for i in range(len(d1))}

In [ ]:
make_dict2(keys, values)

{'Ones': 1, 'Two': 2, 'Three': 3}

In [ ]:
dict_3 = {keys[i]: values[i] for i in range(len(keys))}

In [ ]:
dict_3

{'Ones': 1, 'Two': 2, 'Three': 3}

Еще способ: через zip

In [ ]:
dict3 = dict(zip(keys, values))

In [ ]:
dict3

{'Ones': 1, 'Two': 2, 'Three': 3}

## Задание 3

Извлеките только два ключа name и age из представленного словаря

### 3.1 Напишите функцию с циклом for
Функция на вход принимает:
* исходный словарь
* ключи, которые нужно извлечь (аргумент по умолчанию)

На выходе словарь с нужными ключами

Используйте аннотирование типов

In [ ]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 500000,
    "city": "Moscow"
}

In [ ]:
keys = ["name", "age"]

In [ ]:
def get_keys(dictionary: dict, keys: list) -> dict:
    my_dict = {}
    for key in keys:
        my_dict[key] = dictionary[key]
    return my_dict

In [ ]:
get_keys(client_dict, keys)

{'name': 'John', 'age': 25}

### 3.2 Используя dict comprehensions

In [ ]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 500000,
    "city": "Moscow"
}

In [ ]:
my_keys = ["name", "age"]

{ключ: значение и откуда берем ключи и значения}

имя_словаря[ключ] = значение

In [ ]:
my_dict = {k: client_dict[k] for k in my_keys}

In [ ]:
my_dict

{'name': 'John', 'age': 25}

In [ ]:
def get_keys_2(dictionary, keys=["name", "age"]):
    return {key: dictionary[key] for key in keys}

In [ ]:
get_keys_2(client_dict, keys)

{'name': 'John', 'age': 25}

## Задание 4

### 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random
* Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые
* Используйте list comprehensions

In [ ]:
from random import randint, seed

In [ ]:
seed(42)
data = [randint(0, 100) for i in range(5)]

In [ ]:
data

[81, 14, 3, 94, 35]

### 4.2 Напишите генератор
* Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
* Внутри генератора реализуйте обход по списку с данными

На каждой итерации генератор будет возвращать кортеж из двух элементов:
1. данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
2. целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации

Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.
* Используйте функцию time из модуля time для подсчета времени.
* Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [ ]:
import time
import random

In [ ]:
def simple_time_generator(data: list):
    for item in data:
        start_time = time.time()
        time.sleep(2)
        current_time = time.time()
        delta = current_time - start_time
        yield(delta, item)

In [ ]:
for obj in simple_time_generator(data):
    print(obj)

(2.0020787715911865, 81)
(2.0020883083343506, 14)
(2.0021069049835205, 3)
(2.0016262531280518, 94)
(2.001844644546509, 35)

In [ ]:
def generator(data: list):
    last_time = None
    for item in data:
        current_time = time.time()
        if last_time:
            delta = current_time - last_time
        else:
            delta = 0
        last_time = time.time()
        yield(delta, item)

In [ ]:
for obj in generator(data):
    print(obj)
    time.sleep(2)

(0, 81)
(2.002164840698242, 14)
(2.0022127628326416, 3)
(2.0016777515411377, 94)
(2.002213478088379, 35)

In [ ]:
gener = (item for item in data)

In [ ]:
print(*gener)

81 14 3 94 35

## Задание 5
### 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

Картинка в тексте <img src=http://file.elecfans.com/web1/M00/85/39/pIYBAFxjgHKAHGRKAAGCvIQmljc250.png>

### 5.2 Создайте следующую таблицу в ячейке с текстом

![%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0.png](attachment:%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0.png)

<table>    
    <tr>        
        <th></th>
        <th>До события</th>
        <th>Время события</th>
    </tr>
    <tr>
        <td><b>1 контрольная точка</b></td><td>250</td><td>500</td>
    </tr>
    <tr>
        <td><b>2 контрольная точка</b></td><td>350</td><td>700</td>
    </tr>
    <tr>
        <td><b>3 контрольная точка</b></td><td>400</td><td>800</td>
    </tr>
    <tr>
        <td></td><td></td><td></td>
    </tr>
    <tr>
        <td><b>Итого за победу</b></td><td>1000</td><td>2000</td>
    </tr>    
</table>

## Задание 6
### Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.
* На вход поступают целочисленные значения в любом количестве
* На выходе словарь с ключами суммы трат и средней траты

In [ ]:
def sum_and_mean(*args):
    return {
        "sum": sum(args),
        "mean": sum(args)/len(args)
    }

In [ ]:
sum_and_mean(5, 10, 15, 50)

{'sum': 80, 'mean': 20.0}

In [ ]:
def sum_and_mean_2(*args):
    summa = 0
    num = 0
    for el in args:
        summa += el
        num += 1
    return {
        "sum": summa,
        "mean": summa/num
    }

In [ ]:
sum_and_mean_2(5, 10, 15)

{'sum': 30, 'mean': 10.0}

In [ ]:
list_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
              '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
              '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
              '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
              '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',
              '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [ ]:
my_str = '2021-11-14'

In [ ]:
my_str[5:7]

'11'

In [ ]:
my_str.split('-')

['2021', '11', '14']

In [ ]:
year, month, day = my_str.split('-')

In [ ]:
year

'2021'

In [ ]:
month

'11'

In [ ]:
day

'14'

In [ ]:
_, month, _ = my_str.split('-')

In [ ]:
month

'11'

In [ ]:
_

'14'